<h1>All Events</h1>

<div class="jumbotron">
  <h1 class="display-4">Events for all!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p> Before checking out the events, please sign up or sign in!</p>
</div>



<% for event in @events %>
    <p><a href="/events/<%= event[:id] %>"><%= event[:title] %></a></p>



<div class="media">
  <img src="..." class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0"><%= event[:title] %></h5>
    <%= event[:description] %>
  </div>
</div>
<% end %>