

<div class="jumbotron">
  <h1 class="display-4">Sports community events!</h1>
  <p class="lead">This is a way to stay connected and join for soccer, tennis, basketball, bike rides and more!</p>
  <hr class="my-4">
  <p> Sign up and browse anc create your favorite sporting events!</p>
  <a class="btn btn-primary btn-lg btn-block" href="/logins/new" role="button">Sign in</a>
  <a class="btn btn-primary btn-lg btn-block" href="/users/new"  role="button">Sign Up</a>
</div>




