<h1>All Events - new landing</h1>

<div class="jumbotron">
  <h1 class="display-4">Events for all!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p> Before checking out the events, please sign up or sign in!</p>
  <a class="btn btn-primary btn-lg btn-block" href="/logins/new" role="button">Sign in</a>
  <a class="btn btn-primary btn-lg btn-block" href="/users/new"  role="button">Sign Up</a>
</div>




