<h1>Create New Event</h1>
<form action="/events/create" method="post">
  <div class="form-group">
    <label>Event Title</label>
    <input type="text" class="form-control" placeholder="Dance Party" name="title">
  </div>
  <div class="form-group">
    <label>Event Description address</label>
    <input type="text" class="form-control" placeholder="We want to get together to dance and have fun" name="description">
  </div>
  <div class="form-group">
    <label>Date</label>
    <input type="text" class="form-control" placeholder="June 30th 2021" name="date">
  </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" class="form-control" placeholder="Santiago, Chile" name="location">
  </div>
  <button type="submit" class="btn btn-primary">Create event</button>
</form>