<h1>Create New Event</h1>
<form action="/events/create" method="post">
  <div class="form-group">
    <label>Event Title</label>
    <input type="text" class="form-control" placeholder="Soccer game" name="title">
  </div>
  <div class="form-group">
    <label>Event Description address</label>
    <input type="text" class="form-control" placeholder="We want to play soccer and  have fun" name="description">
  </div>
  <div class="form-group">
    <label>Date</label>
    <input type="text" class="form-control" placeholder="May 4th 2020" name="date">
  </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" class="form-control" placeholder="Chicago, Illinois" name="location">
  </div>
  <div class="form-group">
    <label>Categoryyyyyy</label>
    <input type="text" class="form-control" placeholder="Soccer" name="title">
  </div>

  
  <button type="submit" class="btn btn-primary">Create event</button>
</form>